.App {
  min-width: 1200px;
  box-sizing: border-box;
}
.container {
  min-width: 1040px;
  width: 1040px;
  height: auto;
  margin: auto;
}
.inner {
  position: relative;
  height: 500px;
}
.left {
  position: relative;
  width: 100%;
  height: 100%;
}
.right {
  position: absolute;
  right: -62px;
  top: 0;
}
.left__inner {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
}
.left .photo {
  width: 400px;
  height: 338px;
  background-size: 400px 338px;
  background-image: url("/public/images/triple2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: left;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.photo span {
  position: absolute;
  bottom: 30px;
  transform: translate(-50%, -50%);
  color: rgba(58, 58, 58, 0.7);
}

.right__inner__top {
  padding-top: 150px;
  font-size: 34px;
  margin-bottom: 45px;
  opacity: 0;
  animation-name: rightTop;
  animation-delay: 0.1s;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.right__inner__bottom {
  display: flex;
  opacity: 0;
  animation-name: rightBottom;
  animation-delay: 0.2s;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.google-award,
.apple-award {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 39px;
  color: rgba(58, 58, 58, 0.8);
}
.google-award::before,
.apple-award::before {
  content: "";
  display: inline-block;
  width: 54px;
  height: 54px;
  margin-right: 5px;
  background-size: 54px 54px;
  background-repeat: no-repeat;
}
.google-award::before {
  background-image: url("/public/images/play-store2x.png");
}
.apple-award::before {
  background-image: url("/public/images/badge-apple4x.png");
}

/* animation */
@keyframes left {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rightTop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rightBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
